<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathilde.wearsportapp">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewEventActivity" />
        <activity android:name=".VoiceReplyActivity" />
        <activity android:name=".SendNotificationActivity" />
        <activity android:name=".SportBrowserActivity" />
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />

        <activity android:name=".StepCounterActivity" />

        <service
            android:name=".StravaActionsService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/strava_actions"
                    android:scheme="wear"/>
            </intent-filter>
        </service>

        <activity android:name=".StravaAPIsActivity"/>

    </application>

</manifest>